body {
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}           

#gameOver, #playerHUD {
    position: absolute;
    visibility: hidden;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}


h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}


.title {
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    
    border: 5px solid white;
    border-radius: 50px;
}

#restartButton:hover {
    background-color: #CFDBC5;
}

#scoreboard {
    margin: 0px;
    background-color: #FF8080;
}